name: builds

on:
  push:
    branches: [main, develop, feature/*]
    paths-ignore:
      - "**.md"
  pull_request:
    branches: [main, develop]
    paths-ignore:
      - "**.md"

jobs:
  build-windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        config: [debug, release]
        compiler: [msvc, clang]
        target: [raddbg, raddbg_from_pdb, raddbg_from_dwarf]

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: "⚙️ build | ${{ matrix.compiler }} | ${{ matrix.config }}"
        shell: cmd
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvarsall.bat" x64
          call "${{ github.workspace }}\build.bat" ${{ matrix.target }} ${{ matrix.compiler }} ${{ matrix.config }}
